<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>API</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

<body ng-app="myApp" ng-controller="myCtrl">
<div class="container">
  <div class="alert alert-warning">
 <a class="btn btn-primary" href="#/!logs" role="button">Ver Logs</a>
 <a class="btn btn-info" href="#/!mostrar" role="button">Mostrar</a>
 <a class="btn btn-warning" href="#/!inserir" role="button">Inserir</a>
 <a class="btn btn-danger" href="#/!put" role="button">Put</a>
  </div>

<div ng-view></div>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#logs">Mostrar Logs</button>
  <div id="logs" class="collapse">
<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>IP</th>
		       <th>Horário</th>
			        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in logs| orderBy : '-horario'">
        <td>{{$index}}</td>
        <td>{{x.ip}}</td>
		       <td>{{x.horario}}</td>
			   		       <td>{{x.acao}}</td>
      </tr>
    </tbody>
  </table>

</div>

<script>
var app = angular.module("myApp", ["ngRoute"]);

app.controller("myCtrl", function($scope) {
  var myVar = JSON.parse('<%- JSON.stringify(logs) %>');
  myVar =myVar[0].logs;
  $scope.logs =[];
   
  Object.keys(myVar).map(function (key) {
  $scope.logs.push(myVar[key]); 
  });





});
</script>
</body>
</html>









