<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>API</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="scripts/ui-grid.min.js"></script>
   <link rel="stylesheet" href="/stylesheets/ui-grid.min.css">
 
<style>
.myGrid {
    width: 500px;
    height: 250px;
  }
  </style>
  </head>

<body ng-app="myApp" ng-controller="myCtrl">
<div class="container">
  <div class="alert alert-warning">
 <a class="btn btn-primary" href="#/!logs" role="button">Ver Logs</a>
 <a class="btn btn-info" href="#/!mostrar" role="button">Mostrar</a>
 <a class="btn btn-warning" href="#/!inserir" role="button">Inserir</a>
 <a class="btn btn-danger" href="#/!put" role="button">Put</a>
  </div>

<div ng-view></div>


  <div class="panel panel-default">
  <div class="panel-body">
  <div id="grid1" ui-grid="{ data: data }" class="grid"></div>
  </div>
</div>




<script>
var app = angular.module("myApp", ['ngRoute','ui.grid']);

app.controller("myCtrl", function($scope) {
  var myVar = JSON.parse('<%- JSON.stringify(logs) %>');
  myVar =myVar[0].logs;
  $scope.data =[];
   
  Object.keys(myVar).map(function (key) {
  $scope.data.push(myVar[key]); 
  });





});
</script>
</body>
</html>









