<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>API</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
<div class="container">
  <div class="alert alert-warning">
    <strong>API LOGS</strong> veja os logs.
  </div>




  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>IP</th>
		       <th>Horário</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in logs track by $index">
        <td>{{$index}}</td>
        <td>{{x.ip}}</td>
		       <td>{{x.horario}}</td>

      </tr>
  
    </tbody>
  </table>
</div>

<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
  var myVar = JSON.parse('<%- JSON.stringify(logs) %>');

  $scope.logs =myVar[0].logs;
    console.log($scope.logs);
});
</script>
</body>
</html>








