<h1>eae</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>IP</th>
		       <th>Horário</th>
			        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in logs track by $index">
        <td>{{$index}}</td>
        <td>{{x.ip}}</td>
		       <td>{{x.horario}}</td>
			   		       <td>{{x.acao}}</td>
      </tr>
    </tbody>
  </table>